* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* base components */
ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

.flex{
    display: flex;
}

.flex-sb {
    display: flex;
    justify-content: space-between;
}

.container{
    width: 70%;
    align-items: center;
    margin: 0 auto;
}

/* header */
header{
    height: 70px;
    background-color: #FF6901;
    justify-content: center;
}

header .logo>img{
    height: 30px;
}

/* main */
.main{
    margin-top: 40px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.item{
    width: calc(90% / 3);
    margin-bottom: 30px;
    position: relative;
}

.item>img{
    width: 100%;
}

.img-model-hover {
    display: none;
}

.item:hover .img-model-hover {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.discount {
    color: white;
    background-color: red;
    position: absolute;
    bottom: 80px;
    left: 0;
    padding: 4px 6px;
    z-index: 2;
}

.disc-sos{
    color: white;
    background-color: green;
    position: absolute;
    bottom: 80px;
    left: 50px;
    padding: 4px 6px;
    z-index: 2;
    display: block;
}

.pos-lf{
    left: 0;
}

/* footer */
footer{
    width: 100%;
    height: 130px;
    background-color: black;
    color: white;
}

.legal-info>ul li{
    padding-right: 0.5rem;
    padding-top:10px;
}

footer nav ul.social-contact{
    align-self: flex-end;
}

footer ul li {
    display: inline-block;
}